.products-nav
  .products-nav_center
    ul.products-nav__list
      li.products-nav__item: a.products-nav__link(href="catalog.html") визитки
      li.products-nav__item: a.products-nav__link(href="catalog.html") листовки и буклеты
      li.products-nav__item: a.products-nav__link(href="catalog.html") каталоги и брошюры
      li.products-nav__item: a.products-nav__link(href="catalog.html") книжная продукция
      li.products-nav__item: a.products-nav__link(href="catalog.html") календари
      li.products-nav__item: a.products-nav__link(href="catalog.html") сувенирная продукция
      li.products-nav__item: a.products-nav__link(href="catalog.html") фотоальбомы и дипломы
      li.products-nav__item: a.products-nav__link(href="catalog.html") пластиковые карты