.widjet
  a.widjet__link(href="#")
    span.widjet__elem-bg
    .widjet__hover
      | Личный кабинет
    img.widjet__icon(src="assets/images/widjet/1.png" alt="")
  a.widjet__link(href="#")
    span.widjet__elem-bg
    .widjet__hover
      | В корзине 3 товара
    img.widjet__icon(src="assets/images/widjet/2.png" alt="")
  a.widjet__link(href="#")
    span.widjet__elem-bg
    .widjet__hover
      | Калькулятор
    img.widjet__icon(src="assets/images/widjet/3.png" alt="")
  a.widjet__link(href="#")
    span.widjet__elem-bg
    .widjet__hover
      | Мобильная версия
    img.widjet__icon(src="assets/images/widjet/4.png" alt="")
  a.widjet__link(href="#header")
    span.widjet__elem-bg
    .widjet__hover
      | Вверх
    img.widjet__icon(src="assets/images/widjet/5.png" alt="")