.pagination
    margin 20px 0
    text-align: center
    &__link
        font 14px PantonBold
        color gray
        text-decoration: none
        background-color #fff
        padding 10px 15px
        margin 0 5px
        border-radius 3px
        &:hover
            background-color light_blue
            color #fff