.products
  .products_center
    +product('assets/images/products_icon/1.png', 'визитки', 'Цифровая печать<br>Фольгирование и тиснение', '#')
    +product('assets/images/products_icon/2.png', 'листовки и буклеты', 'Листовки, флаера и буклеты<br>Плакаты А4 и А3', '#')
    +product('assets/images/products_icon/3.png', 'каталоги и брошюры', 'Презентационный материал<br>Ламинация, навивка пружины', '#')
    +product('assets/images/products_icon/4.png', 'книжная продукция', 'Методички, инструкции<br>Издание книг, тиражирование', '#')
    +product('assets/images/products_icon/5.png', 'календари', 'Квартальные, карманные<br>Индивидуальные календари', '#')
    +product('assets/images/products_icon/6.png', 'сувенирная продукция', 'Печать на кружках<br>Значки, магниты, ежедневники', '#')
    +product('assets/images/products_icon/7.png', 'фотоальбомы и дипломы', 'Разнообразие технологий<br>переплета продукции', '#')
    +product('assets/images/products_icon/8.png', 'пластиковые карты', 'Подарочная карта, дисконт<br>Бэджи с креплениями', '#')
    +more-btn('Показать еще')