.products
    size 100% auto
    background-color light_gray
    padding 50px 0
    clearfix()

    &_center
        size 1200px 100%
        margin 0 auto
        +below(1220px)
            width 100%
            text-align: center