.content
    .content_center
        .news-detail
            +breadcrumbs(['Главная', 'Новости', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'])
            +title-big('Lorem ipsum dolor sit amet, consectetur adipiscing elit')(class="news-detail__title")
            +news-detail-content(true)