.breadcrumbs
    +below(1220px)
        margin-left: 10px

    &__link
        font 12px PantonRegular
        color light_blue
        text-decoration: none

    &__cur
        font 12px PantonRegular
        color gray

    &__sep
        font 12px PantonRegular
        color gray
        margin 0 4px