.watched
    padding 10px 0
    clearfix()

    a:last-child
        margin-right: 0
        +below(1220px)
            margin-right 8px

    &__title
        margin-bottom: 20px
        +below(1220px)
            margin-left: 10px