.content
    .content_center
        .watched
            +title-big('вы смотрели')(class="watched__title")
            +catalog__item('цифровая печать визиток', 'assets/images/catalog/1.jpg', '200.00 р.', '100 шт.', 'односторонние')
            +catalog__item('цифровая печать визиток', 'assets/images/catalog/2.jpg', '250.00 р.', '100 шт.', 'двухстронние')
            +catalog__item('фольгирование визиток', 'assets/images/catalog/3.jpg', '480.00 р.', '100 шт.', 'односторонние')
            +catalog__item('тиснение визиток', 'assets/images/catalog/4.jpg', '1300.00 р.', '100 шт.', 'односторонние')