.navbar
  .navbar_center
    ul.nav
      li.nav__item: a.nav__link(href="index.html") Главная
      li.nav__item: a.nav__link(href="about.html") О студии
      li.nav__item: a.nav__link(href="news.html") Новости
      li.nav__item: a.nav__link(href="calc-list.html") Расчет стоимости
      li.nav__item: a.nav__link(href="#") Оплата и доставка
      li.nav__item: a.nav__link(href="portfolio.html") Портфолио
      li.nav__item: a.nav__link(href="contacts.html") Контакты
    a.cabinet-btn(href="cabinet.html") Личный кабинет
    form.search(action="#" method="get")
      input.search__input(type="text" name="words" placeholder="Поиск")
      button.search__button(type="button")