.content
  .content_center
    +breadcrumbs(['Главная', 'Каталог', 'Визитки'])
    h2.catalog__title Визитки
    .catalog__item-wrap
      +catalog__item('цифровая печать визиток', 'assets/images/catalog/1.jpg', '200.00 р.', '100 шт.', 'односторонние')
      +catalog__item('цифровая печать визиток', 'assets/images/catalog/2.jpg', '250.00 р.', '100 шт.', 'двухстронние')
      +catalog__item('фольгирование визиток', 'assets/images/catalog/3.jpg', '480.00 р.', '100 шт.', 'односторонние')
      +catalog__item('тиснение визиток', 'assets/images/catalog/4.jpg', '1300.00 р.', '100 шт.', 'односторонние')
    p.catalog__txt.
      <span class="catalog__txt_bold">Изготовление и дизайн визиток</span> - является одним из основных
      направлений деятельности типографии в Ставрополе. В 2013 году для организаций и частных лиц различной
      сферы деятельности было изготовлено более 1,5 миллиона визитных карточек. Обращаясь в нашу типографию
      Вы можете быть уверены, что получите оптимальную цену, минимальные сроки и качественное исполнение заказа
      по изготовлению визиток в Ставрополе, а также индивидуальный дизайн визитки, т.к. как в своей работе
      мы не применяем изготовление макетов по шаблонам. Фольгированные визитки, тиснение на визитках и цены
      на данный вид полиграфической продукции представленны в следующих разделах.
    p.catalog__txt.
      Высокая скорость предпечатной подготовки макета (дизайн) визитки, качество послепечатной обработки - в
      типографии установлены бумагорезательные машины производства Германии - <span class="catalog__txt_bold">Ideal
      4850-95 EP, Ideal 6550-95 EP</span> и сама технология цветной цифровой печати позволяет нам занимать
      лидируюшие позиции на рынке оперативной печати и изготовления визиток в Ставрополе, Невинномысске, Изобильном
      и других городах Ставропольского края по скорости, качеству и стоимости продукции. При необходимости,
      изготовление визиток происходит в присутствии заказчика. Звоните - <span class="catalog__txt_bold">Ставрополь
      +7 (8652) 72-11-21, 72-47-73.</span> Цветная и ч/б печать осуществляется на профессиональном оборудовании -
      <span class="catalog__txt_bold">Konica Minolta bizhub PRO C5501 и Konica Minolta bizhub Press C7000.</span>