.content
    .content_center
        .calc-list
            +breadcrumbs(['Главная', 'Расчет стоимости продукции'])
            +title-big('Расчет стоимости продукции')(class="calc-list__title")
            .calc-list__products
                +product('assets/images/products_icon/1.png', 'Расчет стоимости печати<br>визиток', false, 'calc.html')
                +product('assets/images/products_icon/2.png', 'Расчет стоимости печати<br>листовок и буклетов', false, 'calc.html')
                +product('assets/images/products_icon/3.png', 'Расчет стоимости печати<br>КАТАЛОГов И БРОШЮР', false, 'calc.html')
                +product('assets/images/products_icon/4.png', 'Расчет стоимости печати<br>КНИЖНой ПРОДУКЦИи', false, 'calc.html')
                +product('assets/images/products_icon/5.png', 'Расчет стоимости печати<br>КАЛЕНДАРей', false, 'calc.html')
                +product('assets/images/products_icon/6.png', 'Расчет стоимости печати<br>СУВЕНИРНой ПРОДУКЦИи', false, 'calc.html')
                +product('assets/images/products_icon/7.png', 'Расчет стоимости печати<br>ФОТОАЛЬБОМов И ДИПЛОМов', false, 'calc.html')
                +product('assets/images/products_icon/8.png', 'Расчет стоимости печати<br>ПЛАСТИКОВЫх КАРТ', false, 'calc.html')