.material-product
    .material-product_center
        .material-product__left
            +title-mid('материал')
            p.material-product__txt1.
                Мелованная бумага, дизайнерские сорта бумаги с тиснением (Prestige, Verona), металлизированным
                (Sirio Pearl, Shyne, Galaxy Metallic) и латексным напылением (Touche Cover). Плотность
                используемой  бумаги - 80-300 г/м2
            p.material-product__note.
                <span class="material-product__note_bold">Примечание.</span> При печати визиток на
                дизайнерских бумагах к стоимости добавляется цена выбранного типа бумаги:
            ol.material-product__list
                li.material-product__item Color Copy  300 г/м2 - 0.35 руб.
                li.material-product__item Фактурные (Prestige, Verona и т.п.) - 0.90 руб.
                li.material-product__item Металлизированные (Sirio Pearl, Shyne и т.п.) - 2.30 руб.
                li.material-product__item Металлизированная (Galaxy Metallic) - 0.90 руб.
                li.material-product__item Touche Cover - 3.30 руб.
            +title-mid('Срок изготовления')(class="material-product__prod-time-title")
            p.material-product__txt2.
                По согласованию с заказчиком от 30 минут до 12 часов. Технически мы способны изготовить
                1000 односторонних визитных карточек за 30 минут (!) - от раскладки макета до
                упакованной продукции.
        .material-product__right
            +title-mid('видеоматерил')
            img.material-product__video(src="assets/images/poster.jpg")