.profile
    &__title
        margin 20px 0
        +below(1220px)
            margin-left: 10px
    &__title-mid
        margin-bottom: 20px
    &__list-wrap
        +below(1220px)
            text-align: center
    &__item
        display: inline-block
        vertical-align: top
        size 398px 280px
        background-color #fff
        text-decoration: none
        margin 0 3px 20px -5px
        text-align: left
        padding 20px 30px
        box-sizing border-box
        +below(1220px)
            margin 0 10px 20px
            border-radius 3px
        +below(450px)
            width 100%
            margin 10px 0
        &:first-child
            border-top-left-radius 3px
            border-bottom-left-radius 3px
            margin-left: 0
            +below(1220px)
                margin-left: 10px
            +below(450px)
                margin-left: 0
        &:last-child
            border-top-right-radius 3px
            border-bottom-right-radius 3px
            margin-right: 0
            +below(1220px)
                margin-right: 10px
            +below(450px)
                margin-right: 0
    &__label
        font 14px PantonRegular
        color gray
        margin-bottom: 5px
    &__input
        margin-bottom: 20px