.contacts
    clearfix()
    &__title
        margin-top: 15px
        +below(1220px)
            margin-left: 10px
    &__left
        size 586px auto
        background-color #fff
        border-radius 3px
        float left
        padding 20px
        box-sizing border-box
        margin-right: 28px
        font 14px PantonRegular
        color dark_blue
        margin-top: 20px
        +below(1220px)
            float none
            margin-right: 0
        +below(620px)
            width 100%
    &__right
        size 586px auto
        background-color #fff
        border-radius 3px
        float left
        padding 20px
        box-sizing border-box
        margin-top: 20px
        +below(1220px)
            float none
        +below(620px)
            width 100%
    &__company
        font 18px PantonBold
        line-height 18px
    &__boss
        line-height 20px
    &__address
        margin-top: 20px
    &__address-title
        font-family PantonBold
        margin-bottom: 5px
    &__address-txt
        line-height 20px
    &__phone
        margin-top: 20px
    &__phone-title
        font-family PantonBold
        margin-bottom: 5px
    &__phone-txt
        line-height 20px
    &__email
        margin-top: 20px
    &__email-title
        font-family PantonBold
        margin-bottom: 5px
    &__email-txt
        line-height 19px
    &__get-order
        margin-top: 20px
    &__get-order-title
        font-family PantonBold
        margin-bottom: 5px
    &__get-order-txt
        line-height 19px
        &_gray
            color gray
            margin-left: 5px
    &__set-order
        margin-top: 20px
    &__set-order-title
        font-family PantonBold
        margin-bottom: 5px
    &__set-order-txt
        line-height 19px
        &_gray
            color gray
            margin-left: 5px
    &__form
        margin-top: 20px
    &__input-wrap
        width 260px
        display: inline-block
        vertical-align: top
        +below(620px)
            display: block
    //&__username-wrap
    &__email-wrap
        float right
        +below(620px)
            float none
    &__input
    &__label
        font 14px PantonRegular
        color #878d9b
        margin-bottom: 5px
        display: inline-block
        &_orange
            color orange
    &__textarea
        width 100%
        height 87px
        background-color light_gray
        border-radius 3px
        border 1px solid #e7e7e9
        padding-left: 13px
        padding-top: 13px
        font 14px PantonRegular
        color dark_blue
        outline none
        box-sizing border-box
        margin-bottom: 25px
    &__button
        width 260px!important
        margin-left: 0!important
    &__captcha
        display: inline-block
        vertical-align: top
        float right
        margin 20px 20px 0 0
        +below(620px)
            float none
            display: block
            margin 0 0 20px 0