@font-face
    font-family "PantonBlack"
    src url("../fonts/PantonBlack/panton-black.eot")
    src url("../fonts/PantonBlack/panton-black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PantonBlack/panton-black.otf") format("opentype"),
    url("../fonts/PantonBlack/panton-black.woff") format("woff"),
    url("../fonts/PantonBlack/panton-black.woff2") format("woff2"),
    url("../fonts/PantonBlack/panton-black.ttf") format("truetype"),
    url('../fonts/PantonBlack/panton-black.svg#a_avantebsitalic') format('svg')
    font-style normal
    font-weight normal

@font-face
    font-family "PantonBold"
    src url("../fonts/PantonBold/panton-bold.eot")
    src url("../fonts/PantonBold/panton-bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PantonBold/panton-bold.otf") format("opentype"),
    url("../fonts/PantonBold/panton-bold.woff") format("woff"),
    url("../fonts/PantonBold/panton-bold.woff2") format("woff2"),
    url("../fonts/PantonBold/panton-bold.ttf") format("truetype"),
    url('../fonts/PantonBold/panton-bold.svg#a_avantebsitalic') format('svg')
    font-style normal
    font-weight normal

@font-face
    font-family "PantonLight"
    src url("../fonts/PantonLight/panton-light.eot")
    src url("../fonts/PantonLight/panton-light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PantonLight/panton-light.otf") format("opentype"),
    url("../fonts/PantonLight/panton-light.woff") format("woff"),
    url("../fonts/PantonLight/panton-light.woff2") format("woff2"),
    url("../fonts/PantonLight/panton-light.ttf") format("truetype"),
    url('../fonts/PantonLight/panton-light.svg#a_avantebsitalic') format('svg')
    font-style normal
    font-weight normal

@font-face
    font-family "PantonRegular"
    src url("../fonts/PantonRegular/panton-regular.eot")
    src url("../fonts/PantonRegular/panton-regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PantonRegular/panton-regular.otf") format("opentype"),
    url("../fonts/PantonRegular/panton-regular.woff") format("woff"),
    url("../fonts/PantonRegular/panton-regular.woff2") format("woff2"),
    url("../fonts/PantonRegular/panton-regular.ttf") format("truetype"),
    url('../fonts/PantonRegular/panton-regular.svg#a_avantebsitalic') format('svg')
    font-style normal
    font-weight normal

@font-face
    font-family "PantonSemiBold"
    src url("../fonts/PantonSemiBold/panton-semibold.eot")
    src url("../fonts/PantonSemiBold/panton-sebibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PantonSemiBold/panton-sebibold.otf") format("opentype"),
    url("../fonts/PantonSemiBold/panton-sebibold.woff") format("woff"),
    url("../fonts/PantonSemiBold/panton-sebibold.woff2") format("woff2"),
    url("../fonts/PantonSemiBold/panton-sebibold.ttf") format("truetype"),
    url('../fonts/PantonSemiBold/panton-sebibold.svg#a_avantebsitalic') format('svg')
    font-style normal
    font-weight normal

@font-face
    font-family "PantonThin"
    src url("../fonts/PantonThin/panton-thin.eot")
    src url("../fonts/PantonThin/panton-thin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PantonThin/panton-thin.otf") format("opentype"),
    url("../fonts/PantonThin/panton-thin.woff") format("woff"),
    url("../fonts/PantonThin/panton-thin.woff2") format("woff2"),
    url("../fonts/PantonThin/panton-thin.ttf") format("truetype"),
    url('../fonts/PantonThin/panton-thin.svg#a_avantebsitalic') format('svg')
    font-style normal
    font-weight normal