title()
    font 24px PantonBlack
    line-height 24px
    color dark_blue
    text-transform: uppercase
    margin-bottom: 25px

shadow()
    box-shadow 0 0 20px 0 rgba(0,0,0,.1)
    cursor pointer

border-img()
    border-style: solid;
    border-width: 8px;
    -webkit-border-image url("../images/border_img.png") 8 repeat
    -moz-border-image url("../images/border_img.png") 8 repeat
    -o-border-image url("../images/border_img.png") 8 repeat
    border-image url("../images/border_img.png") 8 repeat

border-img-card-product()
    border-style: solid;
    border-width: 8px;
    -webkit-border-image url("../images/border_img_card-product.png") 8 repeat
    -moz-border-image url("../images/border_img_card-product.png") 8 repeat
    -o-border-image url("../images/border_img_card-product.png") 8 repeat
    border-image url("../images/border_img_card-product.png") 8 repeat

border-img-review()
    border-style: solid;
    border-width: 5px;
    -webkit-border-image url("../images/border_img_review.png") 5 repeat
    -moz-border-image url("../images/border_img_review.png") 5 repeat
    -o-border-image url("../images/border_img_review.png") 5 repeat
    border-image url("../images/border_img_review.png") 5 repeat

border-img-catalog()
    border-style: solid;
    border-width: 6px;
    -webkit-border-image url("../images/border_img_catalog.png") 6 repeat
    -moz-border-image url("../images/border_img_catalog.png") 6 repeat
    -o-border-image url("../images/border_img_catalog.png") 6 repeat
    border-image url("../images/border_img_catalog.png") 6 repeat