.reviews-home
  .reviews-home_center
    .reviews-home__left
      h2.reviews-home__title отзывы клиентов
      i.reviews-home__slider-prev
      i.reviews-home__slider-next
      ul.reviews-home__slider
        li.reviews-home__slider-item
          +review('Фомин О. Е.', '1.jpg', 'Генеральный директор ОАО<br>«Мари-турекское ремонтно-техническое<br>' +
          'предприятие»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. ' +
          'Высокая оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
        li.reviews-home__slider-item
          +review('Каренина А. Л.', '2.jpg', 'Генеральный директор ОАО «РЖД»', 'За период нашей совместной ' +
          'работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, ' +
          'а также своевременное выполнение обязательств. Высокая оперативность решения рабочих вопросов, ' +
          'а также своевременное выполнение обязательств... ')
        li.reviews-home__slider-item
          +review('Мелехов Н. П.', '3.jpg', 'Главный менеджер ОАО «Ультрамарин»', 'За период нашей совместной ' +
          'работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, ' +
          'а также своевременное выполнение обязательств. Высокая оперативность решения рабочих вопросов, ' +
          'а также своевременное выполнение обязательств... ')
      +more-btn('Все отзывы')(class="reviews-home__more")
    .reviews-home__right
      h2.news-home__title новости
      i.news-home__slider-prev
      i.news-home__slider-next
      ul.news-home__slider
        li.news-home__slider-item
          +new('1.jpg', '27.01.2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ' +
          'eiusmod tempor incididunt ut labore et dolore magna aliqua.')
        li.news-home__slider-item
          +new('1.jpg', '27.01.2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ' +
          'eiusmod tempor incididunt ut labore et dolore magna aliqua.')
      +more-btn('Все новости')(class="news-home__more")