.content
    .content_center
        .portfolio-detail
            +breadcrumbs(['Главная', 'Портфолио', 'Листовки и буклеты'])
            +title-big('Листовки и буклеты')(class="portfolio-detail__title")
            .portfolio-detail__list-wrap
                +portfolio-item('1.jpg', '', '', true)
                +portfolio-item('2.jpg', '', '', true)
                +portfolio-item('3.jpg', '', '', true)
                +portfolio-item('4.jpg', '', '', true)
                +portfolio-item('1.jpg', '', '', true)
                +portfolio-item('2.jpg', '', '', true)
                +portfolio-item('3.jpg', '', '', true)
                +portfolio-item('4.jpg', '', '', true)
                +portfolio-item('1.jpg', '', '', true)
                +portfolio-item('2.jpg', '', '', true)
                +portfolio-item('3.jpg', '', '', true)
                +portfolio-item('4.jpg', '', '', true)