.portfolio-home
    .portfolio-home_center
        h2.portfolio-home__title портфолио
        ul.portfolio-home__slider
            li.portfolio-home__slider-item
                a.portfolio-home__slider-item-hover(data-fancybox="portfolio" href="assets/images/portfolio/1.jpg")
                img.portfolio-home__slider-img(src="assets/images/portfolio/1.jpg" alt="")
            li.portfolio-home__slider-item
                a.portfolio-home__slider-item-hover(data-fancybox="portfolio" href="assets/images/portfolio/2.jpg")
                img.portfolio-home__slider-img(src="assets/images/portfolio/2.jpg" alt="")
            li.portfolio-home__slider-item
                a.portfolio-home__slider-item-hover(data-fancybox="portfolio" href="assets/images/portfolio/3.jpg")
                img.portfolio-home__slider-img(src="assets/images/portfolio/3.jpg" alt="")
            li.portfolio-home__slider-item
                a.portfolio-home__slider-item-hover(data-fancybox="portfolio" href="assets/images/portfolio/4.jpg")
                img.portfolio-home__slider-img(src="assets/images/portfolio/4.jpg" alt="")