.content
    .content_center
        .news
            +breadcrumbs(['Главная', 'Новости'])
            +title-big('новости')(class="news__title")
            .news__list-wrap
                +new('1.jpg', '27.01.2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ', true)
                +new('2.jpg', '27.01.2017', 'Ut enim ad minim veniam, quis nostrud exercitation ' +
                'ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit ' +
                'in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ', true)
                +new('3.jpg', '27.01.2017', 'Excepteur sint occaecat cupidatat non proident, ' +
                'sunt in culpa qui officia deserunt mollit anim id est laborum.', true)
                +new('4.jpg', '27.01.2017', 'Ut enim ad minim veniam, quis nostrud exercitation ' +
                'ullamco laboris nisi.', true)
                +new('3.jpg', '27.01.2017', 'Excepteur sint occaecat cupidatat non proident, ' +
                'sunt in culpa qui officia deserunt mollit anim id est laborum.', true)
                +new('4.jpg', '27.01.2017', 'Ut enim ad minim veniam, quis nostrud exercitation ' +
                'ullamco laboris nisi.', true)
                +new('1.jpg', '27.01.2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ', true)
                +new('2.jpg', '27.01.2017', 'Ut enim ad minim veniam, quis nostrud exercitation ' +
                'ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit ' +
                'in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ', true)
                +new('1.jpg', '27.01.2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing ' +
                'elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ')
                +new('2.jpg', '27.01.2017', 'Ut enim ad minim veniam, quis nostrud exercitation ' +
                'ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit ' +
                'in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ')
                +new('3.jpg', '27.01.2017', 'Excepteur sint occaecat cupidatat non proident, ' +
                'sunt in culpa qui officia deserunt mollit anim id est laborum.')
                +new('4.jpg', '27.01.2017', 'Ut enim ad minim veniam, quis nostrud exercitation ' +
                'ullamco laboris nisi.')
        include ../pagination/pagination