.footer
  .footer_center
    .footer__item
      a.footer__logo(href="index.html")
        p.footer__logo-txt1 ТИРАЖ
        p.footer__logo-txt2 Оперативная полиграфия, © 2012 — 2017
      .footer__address
        p.footer__address-txt1 Адрес:
        p.footer__address-txt2 355042, г. Ставрополь, ул. 50 лет ВЛКСМ, 24 б
      .footer__phone
        p.footer__phone-txt1 Телефоны:
        p.footer__phone-txt2
          span.footer__phone-txt2_orange +7 (8652)
          | 72-11-21,&nbsp;&nbsp;72-47-73,&nbsp;&nbsp;31-53-97
    .footer__item
      .footer__timetable График работы
      .footer__get-order
        p.footer__get-order-txt1 Прием заказов:
        p.footer__get-order-txt2 пн.-пт.: с 9:00 до 18:00 (без перерыва)<br>сб.-вс.: выходной
      .footer__set-order
        p.footer__set-order-txt1 Выдача заказов:
        p.footer__set-order-txt2.
          пн.-пт.: с 8:00 до 19:00 (без перерыва)<br>
          сб.: с 8:00 до 19:00 (перерыв c 13:00 до 14:00)<br>
          вс.: выходной
    .footer__item.footer__item-3
      .footer__subs
        p.footer__subs-title Подпишись на новости
        form.footer__subs-form(action="#" method="post")
          input.footer__subs-input(type="email" name="email" placeholder="Ваш E-mail")
          button.footer__subs-button(type="button"): img.footer__subs-icon(src="assets/images/thick.png" alt="")
      .footer__pay
        p.footer__pay-title Online-оплата
        .footer__pay-icons
          a.footer__pay-link.footer__pay-visa(href="#")
            img.footer__pay-icon(src="assets/images/pay/visa.png" alt="")
          a.footer__pay-link.footer__pay-mastercard(href="#")
            img.footer__pay-icon(src="assets/images/pay/mastercard.png" alt="")
          a.footer__pay-link.footer__pay-yandex(href="#")
            img.footer__pay-icon(src="assets/images/pay/yandex.png" alt="")
          a.footer__pay-link.footer__pay-sberbank(href="#")
            img.footer__pay-icon(src="assets/images/pay/sberbank.png" alt="")
    .footer__item.footer__item-4
      .footer__soc
        a.footer__soc-link(href="#"): img.footer__soc-icon(src="assets/images/soc/vk.png" alt="")
        a.footer__soc-link(href="#"): img.footer__soc-icon(src="assets/images/soc/fb.png" alt="")
        a.footer__soc-link(href="#"): img.footer__soc-icon(src="assets/images/soc/tw.png" alt="")
      .footer__note.
        Информация на не является публичной офертой. Указанные цены действуют только при
        оформлении заказа через интернет-магазин
      .footer__author
        | Создание сайта
        a.footer__author-link(href="#") Технологии Успеха
.copyright
  .copyright_center
    p.copyright__txt.
      © 2017, Индивидуальный предприниматель Руденко Александр Валерьевич., ИНН 111111111, КПП 222222222,
      ОГРН 3333333333