.input
    size 100% 34px
    background-color light_gray
    border-radius 3px
    border 1px solid #e7e7e9
    padding-left: 13px
    font 14px PantonRegular
    color dark_blue
    outline none
    box-sizing border-box
    margin-bottom: 25px

    /*&::-webkit-input-placeholder
        color #878d9b
        font 14px PantonRegular
    &::-moz-placeholder
        color #878d9b
        font 14px PantonRegular
    &:-moz-placeholder
        color #878d9b
        font 14px PantonRegular
    &:-ms-input-placeholder
        color #878d9b
        font 14px PantonRegular*/

    &:focus::-webkit-input-placeholder
        color transparent
    &:focus::-moz-placeholder
        color transparent
    &:focus:-moz-placeholder
        color transparent
    &:focus:-ms-input-placeholder
        color transparent