.content
    .content_center
        .reviews
            +breadcrumbs(['Главная', 'Отзывы'])
            +title-big('Отзывы клиентов')(class="reviews__title")
            .reviews__list-wrap
                +review('Фомин О. Е.', '1.jpg', 'Генеральный директор ОАО<br>«Мари-турекское ремонтно-техническое<br>' +
                'предприятие»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. ' +
                'Высокая оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
                +review('Каренина А. Л.', '2.jpg', 'Генеральный директор ОАО «РЖД»', 'За период нашей совместной ' +
                'работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств... ')
                +review('Мелехов Н. П.', '3.jpg', 'Главный менеджер ОАО «Ультрамарин»', 'За период нашей совместной ' +
                'работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств... ')
                +review('Преображенский А. А.', '4.jpg', 'Генеральный директор ОАО «Новороссийский вагоноремонтный ' +
                'завод»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. Высокая ' +
                'оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
                +review('Мелехов Н. П.', '3.jpg', 'Главный менеджер ОАО «Ультрамарин»', 'За период нашей совместной ' +
                'работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств... ')
                +review('Преображенский А. А.', '4.jpg', 'Генеральный директор ОАО «Новороссийский вагоноремонтный ' +
                'завод»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. Высокая ' +
                'оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
                +review('Фомин О. Е.', '1.jpg', 'Генеральный директор ОАО<br>«Мари-турекское ремонтно-техническое<br>' +
                'предприятие»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. ' +
                'Высокая оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
                +review('Каренина А. Л.', '2.jpg', 'Генеральный директор ОАО «РЖД»', 'За период нашей совместной ' +
                'работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств. Высокая оперативность решения рабочих вопросов, ' +
                'а также своевременное выполнение обязательств... ')
            include ../pagination/pagination