.slider
  .slider__left
    .slider__img(style="background: url('assets/images/slider/1.jpg')")
      h1.slider__title Печатная продукция с<br>тиснением фольгой
      p.slider__txt Такие надписи устойчивы к истиранию, поэтому<br>изделия долго сохраняют первоначальный вид.
    .slider__img(style="background: url('assets/images/slider/example-slide-1.jpg')")
    .slider__img(style="background: url('assets/images/slider/example-slide-2.jpg')")
    i.slider__prev.slidesjs-previous.slidesjs-navigation
    i.slider__next.slidesjs-next.slidesjs-navigation
  .slider__right
    h1.slider__title-right
      | гарантия<br>лучшей<br>
      span.slider__title-right_bold цены
    p.slider__txt-right.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.