.our-office
    .our-office_center
        +title-big('наш офис')(class="our-office__title")
        ul.our-office__slider
            li.our-office__slider-item
                a.our-office__slider-hover(href="#")
                img(src="assets/images/our-office/1.jpg" alt="")
            li.our-office__slider-item
                a.our-office__slider-hover(href="#")
                img(src="assets/images/our-office/2.jpg" alt="")
            li.our-office__slider-item
                a.our-office__slider-hover(href="#")
                img(src="assets/images/our-office/3.jpg" alt="")
            li.our-office__slider-item
                a.our-office__slider-hover(href="#")
                img(src="assets/images/our-office/4.jpg" alt="")