.about-home
  .about-home__img-bg
  .about-home_center
    h2.about-home__title о студии
    img.about-home__video(src="assets/images/poster.jpg" alt="")
    p.about-home__txt1.
      Основным направлением нашей типографии является срочная печать полноцветной продукции и изготовление
      книг в мягком переплете.
    p.about-home__txt2.
      За время своей деятельности типография "Тираж" собрала коллектив профессионалов, имеющих опыт по созданию
      различной полиграфической продукции. Организация постоянно расширяет свою производственную и техническую базу.
      Мы используем современное оборудование и программное обеспечение, которое позволяет качественно, оперативно
      и эффективно взаимодействовать с клиентами и выпускать продукцию высокого качества.
      <a class="about-home__link" href="#">Читать подробнее</a>
  .about-home__map
    +marker('Оперативная полиграфия "Тираж"', '355042, г. Ставрополь,<br>ул. 50 лет ВЛКСМ, 24 б')(class="about-home__marker")