extends layouts/default
block title
    title Корзина
block body
    //-include ../blocks/header/header
    include ../blocks/bascket/bascket
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup