extends layouts/default
block title
    title Расчет стоимости продукции
block body
    //-include ../blocks/header/header
    include ../blocks/calc-list/calc-list
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup