extends layouts/default
block title
  title Каталог товаров
block body
  //-include ../blocks/header/header
  include ../blocks/catalog/catalog
  //-include ../blocks/footer/footer
  //-include ../blocks/widjet/widjet
  //-include ../blocks/popup/popup