extends layouts/default
block title
    title Контакты
block body
    //-include ../blocks/header/header
    include ../blocks/contacts/contacts
    include ../blocks/our-office/our-office
    include ../blocks/contacts-map/contacts-map
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup