extends layouts/default
block title
    title История заказов
block body
    //-include ../blocks/header/header
    include ../blocks/history/history
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup