extends layouts/default
block title
    title Тираж - оперативная полиграфия
block body
    //-include ../blocks/header/header
    include ../blocks/slider/slider
    include ../blocks/products/products
    include ../blocks/portfolio-home/portfolio-home
    include ../blocks/about-home/about-home
    include ../blocks/reviews-home/reviews-home
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup