extends layouts/default
block title
    title Новости
block body
    //-include ../blocks/header/header
    include ../blocks/news-detail/news-detail
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup