extends layouts/default
block title
    title Оформление заказа
block body
    //-include ../blocks/header/header
    include ../blocks/ordering/ordering
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup