extends layouts/default
block title
    title Заказ подробно
block body
    //-include ../blocks/header/header
    include ../blocks/order-detail/order-detail
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup