extends layouts/default
block title
    title Портфолио
block body
    //-include ../blocks/header/header
    include ../blocks/portfolio/portfolio
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup