extends layouts/default
block title
  title Карточка товара
block body
  //-include ../blocks/header/header
  include ../blocks/card-product/card-product
  include ../blocks/material-product/material-product
  include ../blocks/watched/watched
  //-include ../blocks/footer/footer
  //-include ../blocks/widjet/widjet
  //-include ../blocks/popup/popup