extends layouts/default
block title
    title Восстановление пароля
block body
    //-include ../blocks/header/header
    include ../blocks/recovery/recovery
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup