extends layouts/default
block title
    title Оформление подписки
block body
    //-include ../blocks/header/header
    include ../blocks/sub/sub
    //-include ../blocks/footer/footer
    //-include ../blocks/widjet/widjet
    //-include ../blocks/popup/popup