.logobar
  .logobar_center
    a.logo__link(href="index.html"): img.logo(src="assets/images/logo.png" alt="")
    a.bascket-mini(href="bascket.html")
      p.bascket-mini__icon-wrap
        span.bascket-mini__icon
      span.bascket-mini__count 31
      p.bascket-mini__name корзина
      p.bascket-mini__cost
        span.bascket-mini__cost_orange 7 590
        | руб.
    .phone
      p.phone__number
        span.phone__number_orange +7&nbsp;&nbsp;8652
        | 72-47-73
      p.phone__number
        span.phone__number_orange +7&nbsp;&nbsp;8652
        | 31-53-11
    img.phone__icon(src="assets/images/phone_icon.png" alt="")
    button.callback-btn(type="button") заказать звонок
    .address
      img.address__icon(src="assets/images/address_icon.png" alt="")
      p.address__txt 355042, г. Ставрополь,<br>ул. 50 лет ВЛКСМ, 24 б